<table #table mat-table [dataSource]="getTracks()" class="mat-elevation-z8 table">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> № </th>
      <td mat-cell *matCellDef="let track" class="left"> {{ track.getIndex() }} </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef > Название </th>
      <td mat-cell *matCellDef="let track"> 
        <div class="track">
            <img src="{{track.getImageUrl()}}" class="img">
            <div class="info">
              <p class="clickable">{{ track.getTitle() }}</p>
              <p class="split">—</p>
              <p class="clickable author">{{ track.getAuthor().join(", ") }}</p>
            </div>
        </div> 
    </td>
    </ng-container>
  
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef> Альбом </th>
      <td mat-cell *matCellDef="let track">
        <div>
          <p class="clickable"> {{track.getAlbum()}} </p> 
          <img (click)="likeTrack(track, $event)" class="heart-button" [class.heart-button-liked]="isTrackLiked(track)">
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> 🕒 </th>
      <td mat-cell *matCellDef="let track" class="right"> 
        <p> {{track.getTime()}} </p> </td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track" > 
        <p> ··· </p> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{'colored-header': isColored()}"></tr>
    <tr 
        (dblclick)="onClick(row)"
        (click)="onClick(row)"
        [class.row-is-clicked]="selectedTrack == row"
        mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    
  </table>
  