.container {
    width: 100%;
    height: 100%;
    padding-bottom: 25%;

    .header {
        height: 37vh;

        img {
            float: left;
            margin-top: 5%;
            margin-left: 5%;

            width: 200px;
            height: 200px;

            border-radius: 15px;

            box-shadow: rgba(229, 43, 80, 0.5) 5px 5px, rgba(229, 43, 80, 0.4) 10px 10px, rgba(229, 43, 80, 0.3) 15px 15px, rgba(229, 43, 80, 0.2) 20px 20px, rgba(229, 43, 80, 0.1) 25px 25px;

        }

        .info {
            float: left;
            margin-top: 7%;
            margin-left: 5vh;
            
            
            .title {
                font-size: 6vh;
                font-weight: bold;
                color: white;
                margin-top: -1vh;
                margin-bottom: -1vh;
            }

            .type {
                font-size: 1.5vh;
                color: #efefef;
            }

            .description {
                font-size: 2.5vh;
                color: #efefef;
            }
        }
    }

    .playlist {
        background:rgba(31, 31, 31, 0.1);

        .control {
            width: 100%;
            margin: 0 auto;
            margin-left: 2vw;
            
            td {
                padding: 1vw;
            }

            .likeButton {
                content: url("/assets/playlist/Collection_button.png");
                width: 30px;
                height: 30px;

                &:hover {
                    cursor: pointer;
                }
            }

            .liked-album {
                content: url("/assets/playlist/Heart_fld_r.png");
            }

            .playButton {
                content: url("/assets/playlist/PlayButton.png");
                width: 50px;
                height: 50px;

                &:hover {
                    cursor: pointer;
                }
            }

            .pause {
                content: url("/assets/playlist/PauseButton.png");
            }
        }
    }

    .list {
        width: 100%;
    }
}

.spinner {
    padding-top: 20%;
    padding-left: 40%;
    margin: 0 auto;
}


@media only screen and (max-device-width: 480px) {
    .container {
        .header {
            img {
            //     //position: relative;
            //     //left: calc(50% - 200px);
            //     width: 200px;
            //     height: 200px;
            //     box-shadow: rgba(229, 43, 80, 0.5) 2px 2px, rgba(229, 43, 80, 0.4) 4px 4px, rgba(229, 43, 80, 0.3) 7px 7px, rgba(229, 43, 80, 0.2) 9px 9px, rgba(229, 43, 80, 0.1) 11px 11px;
        
            }

            .info {
                float: left;
                margin-top: 7%;
                margin-left: 5%;
                width: 100%;
            }
        }

        .playlist {
            .control {
                width: 100%;
                margin: 0 auto;

                margin-left: 30%;
                
                // table {
                //     margin: 0 auto;
                // }
    
                .likeButton {
                    content: url("/assets/playlist/Collection_button.png");
                    width: 30px;
                    height: 30px;

                    margin-left: 20px;
    
                    &:hover {
                        cursor: pointer;
                    }
                }

                .liked-album {
                    content: url("/assets/playlist/Heart_fld_r.png");
                }
    
                .playButton {
                    content: url("/assets/playlist/PlayButton.png");
                    width: 60px;
                    height: 60px;
    
                    &:hover {
                        cursor: pointer;
                    }
                }

                .pause {
                    content: url("/assets/playlist/PauseButton.png");
                }
            }
        }
    }
}