.container {
    width: 100vw;
    height: 100vh;

    .header {
        width: 100vw;
        height: 50vh;
        
        background: linear-gradient(rgba(229, 43, 80, 1), #1F1F1F);

        img {
            float: left;
            margin-top: 5%;
            margin-left: 5%;

            width: 200px;
            height: 200px;

            border-radius: 15px;

            //box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(229, 43, 80, 0.4) 5px 5px, rgba(229, 43, 80, 0.3) 10px 10px, rgba(229, 43, 80, 0.2) 15px 15px, rgba(229, 43, 80, 0.1) 20px 20px, rgba(229, 43, 80, 0.05) 25px 25px;

        }

        .info {
            float: left;
            margin-top: 7%;
            margin-left: 5vh;
            
            
            .title {
                font-size: 6vh;
                font-weight: bold;
                color: white;
                margin-top: -1vh;
                margin-bottom: -1vh;
            }

            .type {
                font-size: 1.5vh;
                color: #efefef;
                
            }

            .description {
                font-size: 2.5vh;
                color: #efefef;
            }
        }
    }
}