.container {
    display: inline-block;
    font-size: xx-large;
    color: white;
    padding-left: 5%;
    padding-top: 1%;

    //TODO: make beautiful horizontal scroll
    // overflow-x: auto;
    // overflow-y: hidden;
}

.hlist {
    display: flex;
    margin: 0 auto;
    li {
        padding-right: 5%;
        list-style-type: none;
    }   
}


