.container {
    // display: inline-block;
    font-size: 2vw;
    color: white;
    margin-left: 3%;
    margin-top: 1%;
    width: 100%;

    .hlist {
        margin: 0;
        padding: 0;
    }

    .hscroll {
        display: flex;
        width: 100%;
        height: fit-content;
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;

        li {
            margin-right: 3vh;
            list-style-type: none;
        }   
    }
}

@media only screen and (max-device-width: 480px) {
    .container {
        overflow-x: auto;
        overflow-y: hidden;

        font-size: 5vw;

        .hscroll {

            li {
                margin-right: 2vh;
            } 
        }
    }
}


