.container {
    // display: inline-block;
    font-size: xx-large;
    color: white;
    margin-left: 5%;
    margin-top: 1%;
    width: 100%;


    .hlist {
        margin: 0;
        padding: 0;
    }
    

    .hscroll {
        display: flex;
        width: 100%;
        height: fit-content;
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;

        li {
            // display: inline-block;
            margin-right: 5%;
            list-style-type: none;
        }   
    }
}

@media only screen and (max-device-width: 480px) {
    .container {
        overflow-x: auto;
        overflow-y: hidden;
    }
}


