.card {
    background-color: #252525;
    width: 190px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;

    cursor: pointer;

    transition: background-color 0.5s ease-out 100ms;

    &:hover {
        background-color: #3A3A3A;
    }


    .img {
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 10px;
        width: 150px;
        height: 150px;

        img {
            border-radius: inherit;
            width: inherit;
            height: inherit;
        }
    }

    .info {
        width: 150px;        
        margin: 0 auto;

        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #EFEFEF;
            font-size: large;
            margin-top: 10%;    
        }
        
        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            word-wrap: break-word;

            font-size: medium;
            color: #BFBFBF;
        
        }

        
        
    }
}

