.slider-container {
    position: fixed;
    top: 90%;
    height: 3%;
    width: max-content;
    
    .slider {
        height: 3%;
        margin: 0 auto;
    }

    .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
        width: 100vw;
        margin: 0 auto;
        margin-left: -0.5vw;
    }
}

.mat-slider-thumb {
    display: none;
}

#container {
    position: fixed;
    // display: flex;
    width: 100%;
    height: 7%;
    top: 93%;
    border-radius: 0;
    background-color: #333;

    table {
        width: 100%;
        td {
            margin: 0 auto;
            width: 30%;

            #Buttons {
                display: flex;
                width: max-content;
                margin: 0 auto;
                margin-top: 1%;
                
                #ShuffleButton {
                    margin-top: 4%;
                    
                    width: 1vw;
                    height: 1.3vw;
        
                    &:hover {
                        cursor: not-allowed;
                    }
                }
        
                #PlayButton {
                    width: 2vw;
                    height: 2vw;
                    margin-left: 5%;
                    margin-right: 5%;
        
                    &:hover {
                        cursor: pointer;
                    }
                }
                
                #PlayPrevButton {
                    margin-left: 5%;
                    width: 2vw;
                    height: 2vw;
        
                    &:hover {
                        cursor: pointer;
                    }
                }
            
                #PlayNextButton {
                    margin-right: 5%;
                    width: 2vw;
                    height: 2vw;
        
                    &:hover {
                        cursor: pointer;
                    }
                }
        
                #RepeatButton {
                    margin-top: 6%;
                    width: 1vw;
                    height: 1vw;
                    
        
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            
            #sound {
                display: flex;
                width: max-content;
                margin: 0 auto;
                
                position: relative;
                left: 20%;
                
                // background-color: white;

                #SoundButton {
                    margin-top: 8%;
                    width: 1.8vw;
                    height: 1.8vw;
                }

                .SoundSlider {
                    #SoundSlider {
                        margin-top: 5%;
                        width: 150%;
                    }
                }
                
            }
        }
    }


}

@media only screen and (max-device-width: 480px) {
    .slider-container {
        display: none;
        .slider {
            display: none;
            
        }
        .mat-slider-ticks {
            display: none;
        }
    }
    
    .mat-slider-thumb {
        display: none;
    }
    
    #menu {
        display: none;
    }
}