.slider-container {
    position: fixed;
    top: 90%;
    height: 1%;

    padding: 0;
    margin-left: -5px;
    width: 100vw;
    
    
    .slider {
        width: 100%;
        
    }
    .mat-slider-ticks {
        height: 5px;
    }
    
}

.mat-slider-thumb {
    display: none;
}

#menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7%;
    top: 93%;
    border-radius: 0;
    background-color: #333;

    

    
    
}

// @media only screen and (max-device-width: 480px) {

//     audio {
//         top: 85%;
//         // height: 5%;
//     }
// }