<audio #player>
    <source #source type="audio/mpeg"> 
</audio>

<div id="container" [hidden]="(!showed)">

    <div id="art">
        <img [src]="getImageUrl()">
    </div>

    <div class="slider-container">
        <mat-slider #progressbar class="slider" min="0" [max]="max" step="1" [value]="value" (change)="sliderOnChange($event)" (mousedown)="sliderOnClick($event)" color="warn">
            
        </mat-slider>
    </div>
    
        <table>
            <tr>
                <td>
                    <div id="metadata">
                        <p class="clickable">{{ getTitle() }}</p>
                            <p class="split">—</p>
                            <p class="clickable author">{{ getArtist() }}</p>
                    </div>
                </td>
                <td>
                        <div id="Buttons">
                            <img class="ShuffleButton">
                            <img (click)="onPlayPrevClick()" class="PlayPrevButton">
                            <img (click)="onPlayClick()" class="PlayButton" #PlayButton [class.pause]="playing">
                            <img (click)="onPlayNextClick()"class="PlayNextButton">
                            <img (click)="onRepeatClick()" class="RepeatButton" #RepeatButton [class.repeate]="loop">
                        </div>
                </td>
                <td>
                    <div id="sound">
                        <img id="SoundButton" #RepeatButton src="assets/playlist/SoundButton.png">
                        <div class="SoundSlider">
                            <mat-slider id="SoundSlider" min="0" max="1" step="0.01" [value]="volume" (change)="volumeOnChange($event)" color="warn">
                            </mat-slider>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

</div>