.block {
    float: left;
    width: 15vw;
    height: 100%;
    background-color: #151515;

    .bar {
        p {
            text-align: center;
            font-size: 1vw;
            color: #efefef;

            &:hover {
                color: rgb(132, 7, 136);
                cursor: pointer;
            }
        }
    }

    .line {
        background-color: #3f3f3f;
        margin: 0 auto;
        height: 0.2vh;
        width: 80%;
    }
}

.mobile {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .block { 
        display: none;
    }

    .mobile {
        display: block;
        position: fixed;
        top: 95vh;
        width: 100%;
        height: 5vh;
        background-color: #3f3f3f;

        .buttons {
            width: max-content;
            height: max-content;
            margin: 0 auto;
            margin-top: 1px;
            color: white;
            font-size: 7vw;
            text-align: center;
            p {
                display: inline;
                padding: 0;
                margin: 0;
                
                margin-left: 42px;
                margin-right: 42px;
            }
        }
    }
}


@media only screen and (max-device-width: 780px) {
    .block {
        width: 20vw;

        .bar {
            p {
                font-size: 2vw;
            }
        }
    
    }
}

