<div class="block">
    <div class="bar">
        <p (click)="selectMain()">Главное</p>
        <p (click)="selectChannels()">Каналы</p>
        <p (click)="selectFind()">Поиск</p>
        <p (click)="selectCollections()">Коллекции</p>
        <p (click)="selectStream()">Поток</p>
    </div>
    
    <div class="line"></div>

    <div class="playlists">

    </div>
</div>

<div class="mobile">
    <div class="buttons">
        <div (click)="selectMain()"><mat-icon matListItemIcon class="material-symbols-outlined">home_app_logo</mat-icon></div>
        <div (click)="selectFind()"><mat-icon matListItemIcon class="material-symbols-outlined">search</mat-icon></div>
        <div (click)="selectChannels()"><mat-icon matListItemIcon class="material-symbols-outlined">library_music</mat-icon></div>
        <div (click)="selectCollections()"><mat-icon matListItemIcon class="material-symbols-outlined">favorite</mat-icon></div>

    </div>
</div>