<div class="block">
    <div class="bar">
        <p (click)="selectMain()">Главное</p>
        <p (click)="selectFind()">Поиск</p>
        <p (click)="selectCollections()">Коллекции</p>
        <p (click)="selectStream()">Поток</p>
    </div>
    
    <div class="line"></div>

    <div class="playlists">

    </div>
</div>

<div class="mobile">
    <div class="buttons">
        <p (click)="selectMain()">⌂</p>
        <p (click)="selectFind()">⌂</p>
        <p (click)="selectCollections()">⌂</p>
        <p (click)="selectStream()">⌂</p>

    </div>
</div>