.block {
    float: left;
    width: 15%;
    height: 100%;
    background-color: #151515;

    .bar {
        p {
            text-align: center;
            font-size: 1.2vw;
            color: #efefef;

            &:hover {
                color: rgb(132, 7, 136);
                cursor: pointer;
            }
        }
    }

    .line {
        background-color: #3f3f3f;
        margin: 0 auto;
        height: 0.2vh;
        width: 80%;
    }
}

.mobile {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .block { 
        display: none;
    }

    .mobile {
        display: block;

        position: fixed;
        top: 92vh;
        width: 100%;
        height: 8vh;
        background-color: rebeccapurple;
    }
}

