<div class="container" *ngIf="isAuthorized as n; else notAuthorized">

    <div class="channel-header" *ngIf="!isDownloading as n; else loading">
        <div class="img-cell">
            <mat-icon class="folder" matListItemIcon>library_music</mat-icon>
        </div>
        <p>Канал: {{ Title }}</p>
    </div>

    <mat-divider>
    </mat-divider>

    <div class="message-box" *ngIf="!isDownloading as n; else loading">
        <div class="message" *ngFor="let message of messages" [class.right]="isMyMessage(message)">
            <div class="message-header">
                <mat-icon class="folder" matListItemIcon>account_circle</mat-icon>
                <p>{{ message.sender }}</p>
                <p class="right">{{ convertDate(message.created) }}</p>
            </div>
            <div class="message-body">
                <p>{{ message.message }}</p>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <div class="input">
        <mat-divider></mat-divider>
        <mat-form-field class="input-full">
            <mat-label>Сообщение</mat-label>
            <textarea matInput [(ngModel)]="message" (keydown)="onKeyDown($event)">
            </textarea>
        </mat-form-field>

        <div class="img-cell" (click)="sendMessage($event)">
            <mat-icon matListItemIcon>send</mat-icon>
        </div>
    </div>

</div>

<ng-template #notAuthorized>
    <div class="no-entry">
        <p> Вы не авторизированы </p>
    </div>

</ng-template>